{% extends 'Account/base.html' %}
{% block body %}
	<div class="update_body">
		<form method="POST">
			{% csrf_token %}
			<table>
				<tr>
					<td><label for="Money" class="text btn btn-outline-light btn-lg">Date </label></td>
					<td><input class="input" type="date" name="date" value="{{user.date}}" required></td>
				</tr>
				<tr>
					<td><label for="Remarks" class="text btn btn-outline-light btn-lg">Status</label></td>
					<td>
						<select name="status" class="input" >
							{% if user.status %}
								<option value="Present">Present</option>
								<option value="Absent">Absent</option>
							{% else %}
								<option value="Absent">Absent</option>
								<option value="Present">Present</option>
							{% endif %}
						</select>
					</td>
				</tr>

				
			</table>
			<button type="submit" class="submit text btn btn-success btn-outline-light btn-lg" value="Select" >Update</button>
			<a href="{% url 'delete_attendance' user.id data.id  %}" class="btn text btn-danger btn-outline-light btn-lg">
				Delete Attendance
			</a>
		</form>
		<h1 id='errpython mor'>{{error}}</h1>
	</div>
{% endblock %}
<style type="text/css">
	{% block styling %}
		.input{
			font-size: 2rem;
			margin-top: 1rem;
			margin-left: 1rem; 
		}
		.text{
			font-size: 1.8rem;
			margin-top: 1rem; 
			margin-right: 1rem;
		}
		
		.Search{
			font-size: 1.6rem;
			margin-top: 1.5rem; 
		}
		.attendance_text_1{
			text-decoration: underline;
			font-size: 2.5rem;
			color: black;
			
		}
		.attendance_button{
			font-size: 1.8rem;
			margin-top: 1rem;
			margin-right:  1rem;

		}
		.update_body{
			width: 100%;
			max-width: 100%;
			position: absolute;
			margin-left: 4.5rem;
			top: 7%;
			color: red;
			font-weight: 70;
			
			z-index: 1;
		}
		.home-inner{
			background-image: url(http://getwallpapers.com/wallpaper/full/c/e/4/1199641-4k-ultra-hd-nature-wallpaper-3840x2160-image.jpg);		
		}
	{% endblock %}
</style>

